entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["glib", "nss", "nspr", "atk", "cups", "libdrm", "mesa", "expat", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "pango", "cairo", "alsa-lib", "gtk3", "dbus-glib", "libxkbcommon", "xorg.libXcursor", "xorg.libXi", "xorg.libXtst", "xorg.libXScrnSaver", "chromium"]

[[ports]]
localPort = 3001
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 8000

[[ports]]
localPort = 33245
externalPort = 6800

[[ports]]
localPort = 35607
externalPort = 6000

[[ports]]
localPort = 37191
externalPort = 8008

[[ports]]
localPort = 39303
externalPort = 3001

[[ports]]
localPort = 41777
externalPort = 8099

[[ports]]
localPort = 42869
externalPort = 3002

[[ports]]
localPort = 43443
externalPort = 8080

[[ports]]
localPort = 45729
externalPort = 5173

[[ports]]
localPort = 45823
externalPort = 4200

[[ports]]
localPort = 46047
externalPort = 8081

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-dev.sh"

[agent]
stack = "EXPO"
integrations = ["github:1.0.0"]

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.development]
RAILWAY_DATABASE_URL = "postgresql://postgres:RmHIwAeLqMoMnXfTAoUAHxVxWiQhAlGo@turntable.proxy.rlwy.net:35436/railway"
