[phases.setup]
nixPkgs = ["nodejs_18", "chromium", "libuuid"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/usr/bin/chromium"
CHROMIUM_PATH = "/usr/bin/chromium"
